<!DOCTYPE html>
<html>

<head>

<title>CertiGen Editor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1 align="center">

🎓 CertiGen Layout Editor

</h1>

<div
id="canvas"
style="position:relative;
width:1000px;
margin:auto;">

<img
src="{{ url_for('uploaded_file', filename='certificate.png') }}"
width="100%">

<div
id="name"
style="
position:absolute;
top:250px;
left:350px;
font-size:40px;
cursor:move;">

Prathibha Yadlapalli

</div>
<br><br>

<center>

<button onclick="savePosition()">

💾 Save Layout

</button>

</center>

</div>

<script
src="{{ url_for('static',
filename='script.js') }}">

</script>

</body>

</html>