<!DOCTYPE html>

<html>

<head>

<title>CertiGen</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🎓 CertiGen</h1>

<h3>Automated Certificate Generation System</h3>

<form action="/upload"
method="POST"
enctype="multipart/form-data">

<label>

Upload Certificate Template

</label>

<input
type="file"
name="certificate"
required>

<label>

Upload Excel File

</label>

<input
type="file"
name="excel"
required>

<label>

Font Size

</label>

<input
type="number"
name="fontsize"
value="45">

<label>

X Position

</label>

<input
type="number"
name="x"
value="1030">

<label>

Y Position

</label>

<input
type="number"
name="y"
value="535">

<button type="submit">

🚀 Generate Certificates

</button>

</form>

</div>

</body>

</html>