<!DOCTYPE html>
<html>

<head>

    <title>Success</title>

</head>

<body style="
font-family:Arial;
text-align:center;
background:#f4f6f9;
margin-top:120px;">

    <h1>
        ✅ Certificates Generated Successfully!
    </h1>

    <h3>
        Your certificates have been generated successfully.
    </h3>

    <br>

    <a href="/download">
        <button style="
        padding:12px 25px;
        font-size:18px;
        background:#2563eb;
        color:white;
        border:none;
        border-radius:8px;
        cursor:pointer;
        margin-right:15px;">

        📥 Download Certificates

        </button>
    </a>

    <a href="/">
        <button style="
        padding:12px 25px;
        font-size:18px;
        background:green;
        color:white;
        border:none;
        border-radius:8px;
        cursor:pointer;">

        🔄 Generate Again

        </button>
    </a>

</body>

</html>